<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Connection Management System</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Connection Management System</h1>
    <hr>
    <h2>Save Connection</h2>

    <!--  <form action="#" th:action="@{/account/saveAccount}" th:object="${account}"-->
    <form th:action="@{'/account/createAccount' + '?accountId=' + ${accountId} + '&accountMail=' + ${accountMail}}"
          method="POST">

        <!--    <input type="text" th:field="*{accountId}"-->
        <!--           placeholder="Connection accountId" class="form-control mb-4 col-4">-->
        <input type="number" th:name="accountId"
               placeholder="Connection accountId"
               class="form-control mb-4 col-4" hidden>

        <div form-control mb-4 col-4>
            <select th:name="accountMail" required
                    class="form-control mb-4 col-4">

                <option hidden value="">Select a client</option>
                <option th:each="clientId : ${listClientsId}"
                        th:text="${clientId}"
                        th:value="${clientId}">
                </option>
            </select>
        </div>
        <button type="submit" class="btn btn-info col-2"> Save Connection</button>
    </form>

    <hr>

    <a th:href="@{/}"> Back to Transactions List</a>
</div>
</body>
</html>