<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<html lang="en">
<head>
<!--    <meta charset="UTF-8">-->
    <meta charset="ISO-8859-1">
    <title>moneytransfert</title>

    <link rel="stylesheet" type="text/css"
          href="../static/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<header>
    <div class="navbar navbar-default">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li a th:href="@{/transaction}">transaction</li>
                <li a th:href="@{/account}">transaction</li>
                <li a th:href="@{/client}">transaction</li>
            </ul>
        </div>
    </div>
</header>
<section layout:fragment="content"></section>
<footer calss="navbar-fixed-top">
    <small>@l'adresse mail</small>

</footer>

</body>
</html>